<div class='py-4 mx-4 heder' *ngIf="auth.user$ | async as user">
    <ng-container *ngIf="app.getRole() != 'admin' ;else admin">
      <div class="row align-items-center profile-header">
        <div class="col-md-2 mb-3 text-center">
          <img
            [src]="user.picture"
            alt="User's profile picture"
            class="rounded-circle img-fluid profile-picture"
          />
        </div>
        <div class="col-md text-center text-md-left">
          <h2>{{ user.name }}</h2>
          <p class="lead text-muted">{{ user.email }}</p>
        </div>
      </div>
      <h5 class="text-center py-2">Reservations</h5>
      <div class="row justify-content-center pt-3">
        <div *ngIf="reservations" class="col-8">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Table Num</th>
                <th scope="col">Table Category</th>
                <th scope="col">Date</th>
                <th scope="col">Min Bill</th>
                <th scope="col">Num Of Guests</th>
                <th scope="col">Note</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let res of reservations">
                <th scope="row">{{res.table.ordinalNumber}}</th>
                <td>{{res.table.category.name}}</td>
                <td>{{res.dateOfReservation.split('T')[0]}}</td>
                <td>{{res.table.category.minBillValue}} kn</td>
                <td>{{res.numberOfGuests}}</td>
                <td><button (click)="seeNote(res.note)" *ngIf="res.note" class="btn btn-sm btn-info">See Note</button></td>
                <td>{{app.getStatusName(res.status)}}</td>
                <td><button (click)="cancel(res.id)" *ngIf="res.status == 2" class="btn btn-sm btn-danger">Cancel</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!reservations"> No reservations.</div>
      </div>
    </ng-container>
</div>

<ng-template #admin>
  <div *ngIf="app.getRole() == 'admin'" class="container py-2 pb-5">

    <ul class="nav nav-tabs">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" aria-controls="basic" data-toggle="tab" role="tab" href="#reservations">Reservations</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" aria-controls="basic" data-toggle="tab" role="tab" href="#settings">Settings</a>
      </li>
    </ul>

    <div class="tab-content">
      <!-- Reservations tab -->
      <div role="tabpanel" class="py-4 tab-pane fade active show" id="reservations">
        <h5 class="text-center py-2">Reservations</h5>
        <div class="row justify-content-center pb-3">
            <div class="input-group col-2">
              <select (change)="getReservationsForDate()" class="form-control" id="date" name="date" 
                      [(ngModel)]="date" 
                      #value="ngModel">
                <option *ngFor="let value of reservDates" 
                        [value]="value">
                        {{value}}</option>
              </select>
          </div>
          <div class="input-group-append">
            <button type="button"  
                    (click)="cancelAll()" 
                    [disabled]="!cancelNote.valid"
                    class="btn btn-danger">
                    Cancel All
            </button>
          </div>
        </div>
        <div class="row justify-content-center pt-3">
          <div *ngIf="reservations" class="col-8">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Table Num</th>
                  <th scope="col">Table Category</th>
                  <th scope="col">Num Of Guests</th>
                  <th scope="col">Reserver Name</th>
                  <th scope="col">Note</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let res of reservations">
                  <th scope="row">{{res.table.ordinalNumber}}</th>
                  <td>{{res.table.category.name}}</td>
                  <td>{{res.numberOfGuests}}</td>
                  <td>{{res.reservedFor}}</td>
                  <td><button (click)="seeNote(res.note)" *ngIf="res.note" class="btn btn-sm btn-info">See Note</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="!reservations"> No reservations.</div>
        </div>
        <div class="row justify-content-center pt-5">
          <div class="form-group col-8">
            <label for="note">Cancel Note</label>
          <textarea [(ngModel)]="note"
                      #cancelNote="ngModel"
                      name="note" 
                      id="note" 
                      class="form-control"
                      rows="5"
                      required>
          </textarea>
          <div class="alert alert-danger" *ngIf="cancelNote.touched && !cancelNote.valid && !isTablesDisabled">
            Cancel Note is required for cancelation.
          </div>
          </div>
        </div>
      </div>

      <!-- Settings tab -->
      <div role="tabpanel" class="py-4 tab-pane fade" id="settings">
        <h5 class="text-center py-2">Settings</h5>
        <div class="row justify-content-center">
          <div class="col-7">
            <div class="py-2 row justify-content-between" *ngFor="let adminConfig of adminConfigs">
              <div class="config row justify-content-between">
                <label for="title">{{adminConfig.name}}</label>
                <div>
                  <select class="form-control" [(ngModel)]="adminConfig.value" #value="ngModel">
                    <option *ngFor="let value of adminConfig.values" 
                            [value]="value">
                            {{value}}</option>
                  </select>
                  <select *ngIf="isTypeSelectNeeded(adminConfig.typeName)" class="form-control" 
                          [(ngModel)]="adminConfig.typeName"
                          (change)="changeValues(adminConfig.key)">
                    <option value="Day">Day</option>
                    <option value="Month">Month</option>
                    <option value="Year">Year</option>
                  </select>
                </div>
              </div>
              <div>
                <button (click)="updateConfig(adminConfig, value)" [disabled]="!value.dirty" class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


