<section class="py-5">
    <div class="container">
        <h2 class="text-center m-5">Welcome to Night Club Page</h2>
        <div class="text-center m-5">
            <button class="btn btn-success">Reserv Table</button>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h5 class="text-uppercase font-weight-light text-center m-5">Incoming events</h5>

        <div class="row">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1400x700" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1400x700" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://source.unsplash.com/collection/190727/1400x700" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <h5 class="text-uppercase font-weight-light text-center m-5">About</h5>

        <div class="row">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <img class="d-block w-100" src="https://source.unsplash.com/collection/190727/2000x1000" alt="Third slide">
            </div>
            <div class="col-12 col-md-6">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est praesentium vitae. Ab, accusantium adipisci aperiam dignissimos, et, laboriosam laborum minus nemo nisi placeat provident quos repellat repudiandae soluta sunt?
                </p>

                <button type="button" class="btn btn-success">See more</button>
            </div>
        </div>
    </div>
</section>
