<section class="py-2 heder">
    <div class="container">
        <h2 class="text-center m-5">Welcome to Night Club Page</h2>
        <div class="text-center m-5">
            <button [routerLink]="['/reserv-table']" class="btn btn-success">Reserve Table</button>
        </div>
    </div>
</section>
<section class="pb-5">
    <div class="container">
        <h5 class="text-uppercase font-weight-light text-center mx-5 mt-5 mb-3">Incoming events</h5>
        <div class="text-center pb-2">
            <a href="/news">See all</a>
        </div>
        <div class="row justify-content-center">
            <div *ngFor="let article of articles"
                (click)="toArticle(article.id)"
                class="{{(articles[2]==article) ? 'col-12 col-md-4' : 'col-12 col-md-4 mb-4 mb-md-0'}}">
                <div class="card">
                    <img class="card-img-top" [src]="article.photoFilePath" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{article.title}}</h5>
                        <p class="card-text">{{article.context}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated {{article.publishingDate | date:'dd-MM-yyyy HH:mm'}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-5">
    <div class="container">
        <h5 class="text-uppercase font-weight-light text-center m-5">About</h5>

        <div class="row">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <img class="d-block w-100" src="assets/homePhotos\about_img.jpg" alt="about">
            </div>
            <div class="col-12 col-md-6">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est praesentium vitae. Ab, accusantium adipisci aperiam dignissimos, et, laboriosam laborum minus nemo nisi placeat provident quos repellat repudiandae soluta sunt?
                </p>
            </div>
        </div>
    </div>
</section>
