<div class="d-flex justify-content-center pb-5 py-2">
    <div class="tables-box" id="tables" [class]="isDisabled ? 'filter' : '' ">
        <svg viewBox="0 0 210.09 110.09" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" xml:space="preserve" >
            <g stroke="#000" stroke-width=".3">
                <rect x=".14969" y=".14969" width="209.7" height="109.7" fill="#e3dbdb" stroke="#000"></rect>
                <rect x=".16219" y="30.167" width="49.667" height="49.667" fill="#f95" stroke="#000"></rect>
                <rect x="80.126" y=".12587" width="129.75" height="13.748" fill="#deaa87" stroke="#000"></rect>
                <g fill="#520" stroke="#000">
                    <rect x=".14205" y="4.2725" width="4.1486" height="13.649"></rect>
                    <rect x="20.634" y="4.283" width="4.1486" height="13.649"></rect>
                    <rect x=".14969" y=".14969" width="24.633" height="4.1333"></rect>
                    <rect x="24.783" y="4.283" width="4.1486" height="13.649"></rect>
                    <rect x="45.275" y="4.2935" width="4.1486" height="13.649"></rect>
                    <rect x="24.791" y=".1602" width="24.633" height="4.1333"></rect>
                    <rect x=".14969" y="92.068" width="4.1486" height="13.649"></rect>
                    <rect x="20.642" y="92.079" width="4.1486" height="13.649"></rect>
                    <rect x=".14969" y="105.72" width="24.633" height="4.1333"></rect>
                    <rect x="24.791" y="92.079" width="4.1486" height="13.649"></rect>
                    <rect x="45.283" y="92.089" width="4.1486" height="13.649"></rect>
                    <rect x="24.798" y="105.74" width="24.633" height="4.1333"></rect>
                </g>
                <g fill="#fff" stroke="#000" class="tables">
                    <rect id="r1" x="7.6377" y="7.9377" width="9.682" height="6.682"></rect>
                    <text id="1" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="10.6377" y="13.6377">1</tspan>
                    </text>
                    <rect id="r2" x="32.279" y="7.9482" width="9.682" height="6.682"></rect>
                    <text id="2" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="35.279" y="13.6377">2</tspan>
                    </text>
                    <rect id="r3" x="7.6454" y="95.734" width="9.682" height="6.682"></rect>
                    <text id="3" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="10.6377" y="101.3">3</tspan>
                    </text>
                    <rect id="r4" x="32.286" y="95.744" width="9.682" height="6.682"></rect>
                    <text id="4" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="35.279" y="101.3">4</tspan>
                    </text>
                    <rect id="r5" x="62.159" y="25.159" width="9.682" height="6.682"></rect>
                    <text id="5" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="65.159" y="30.8">5</tspan>
                    </text>
                    <rect id="r6" x="62.159" y="45.205" width="9.682" height="6.682"></rect>
                    <text id="6" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="65.159" y="50.7">6</tspan>
                    </text>
                    <rect id="r7" x="62.159" y="65.251" width="9.682" height="6.682"></rect>
                    <text id="7" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="65.159" y="70.8">7</tspan>
                    </text>
                    <rect id="r8" x="62.159" y="85.297" width="9.682" height="6.682"></rect>
                    <text id="8" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="65.159" y="90.8">8</tspan>
                    </text>
                    <rect id="r9" x="62.128" y="106.13" width="9.7438" height="3.7438"></rect>
                    <text id="9" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="65.159" y="105">9</tspan>
                    </text>
                    <rect id="r10" x="90.159" y="25.159" width="9.682" height="6.682"></rect>
                    <text id="10" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="91.4" y="30.8">10</tspan>
                    </text>
                    <rect id="r11" x="90.159" y="45.205" width="9.682" height="6.682"></rect>
                    <text id="11" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="91.4" y="50.8">11</tspan>
                    </text>
                    <rect id="r12" x="90.159" y="65.251" width="9.682" height="6.682"></rect>
                    <text id="12" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="91.4" y="70.8">12</tspan>
                    </text>
                    <rect id="r13" x="90.159" y="85.297" width="9.682" height="6.682"></rect>
                    <text id="13" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="91.4" y="90.8">13</tspan>
                    </text>
                    <rect id="r14" x="90.128" y="106.13" width="9.7438" height="3.7438"></rect>
                    <text id="14" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="91.4" y="105">14</tspan>
                    </text>
                    <rect id="r15" x="118.16" y="25.159" width="9.682" height="6.682"></rect>
                    <text id="15" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="119.5" y="30.8">15</tspan>
                    </text>
                    <rect id="r16" x="118.16" y="45.205" width="9.682" height="6.682"></rect>
                    <text id="16" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="119.5" y="50.8">16</tspan>
                    </text>
                    <rect id="r17" x="118.16" y="65.251" width="9.682" height="6.682"></rect>
                    <text id="17" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="119.5" y="70.8">17</tspan>
                    </text>
                    <rect id="r18" x="118.16" y="85.297" width="9.682" height="6.682"></rect>
                    <text id="18" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="119.5" y="90.8">18</tspan>
                    </text>
                    <rect id="r19" x="118.13" y="106.13" width="9.7438" height="3.7438"></rect>
                    <text id="19" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="119.5" y="105">19</tspan>
                    </text>
                    <rect id="r20" x="146.16" y="25.159" width="9.682" height="6.682"></rect>
                    <text id="20" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="147.5" y="30.8">20</tspan>
                    </text>
                    <rect id="r21" x="146.16" y="45.205" width="9.682" height="6.682"></rect>
                    <text id="21" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="147.5" y="50.8">21</tspan>
                    </text>
                    <rect id="r22" x="146.16" y="65.251" width="9.682" height="6.682"></rect>
                    <text id="22" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="147.5" y="70.8">22</tspan>
                    </text>
                    <rect id="r23" x="146.16" y="85.297" width="9.682" height="6.682"></rect>
                    <text id="23" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="147.5" y="90.8">23</tspan>
                    </text>
                    <rect id="r24" x="146.13" y="106.13" width="9.7438" height="3.7438"></rect>
                    <text id="24" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="147.5" y="105">24</tspan>
                    </text>
                    <rect id="r25" x="174.16" y="25.159" width="9.682" height="6.682"></rect>
                    <text id="25" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="175.5" y="30.8">25</tspan>
                    </text>
                    <rect id="r26" x="174.16" y="45.205" width="9.682" height="6.682"></rect>
                    <text id="26" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="175.5" y="50.8">26</tspan>
                    </text>
                    <rect id="r27" x="174.16" y="65.251" width="9.682" height="6.682"></rect>
                    <text id="27" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="175.5" y="70.8">27</tspan>
                    </text>
                    <rect id="r28" x="174.16" y="85.297" width="9.682" height="6.682"></rect>
                    <text id="28" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="175.5" y="90.8">28</tspan>
                    </text>
                    <rect id="r29" x="174.13" y="106.13" width="9.7438" height="3.7438"></rect>
                    <text id="29" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="175.5" y="105">29</tspan>
                    </text>
                    <rect id="r30" x="206.20" y="25.159" width="3.7438" height="6.785"></rect>
                    <text id="30" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="198.5" y="30.8">30</tspan>
                    </text>
                    <rect id="r31" x="206.20" y="45.205" width="3.7438" height="6.785"></rect>
                    <text id="31" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="198.5" y="50.8">31</tspan>
                    </text>
                    <rect id="r32" x="206.20" y="65.251" width="3.7438" height="6.785"></rect>
                    <text id="32" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="198.5" y="70.8">32</tspan>
                    </text>
                    <rect id="r33" x="206.20" y="85.297" width="3.7438" height="6.785"></rect>
                    <text id="33" fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                        <tspan x="198.5" y="90.8">33</tspan>
                    </text>
                </g>
                <text fill="#000000" font-family="sans-serif" font-size="7.0556px" stroke-width=".1">
                    <tspan x="15" y="56.183064">Stage</tspan>
                </text>
                <text fill="#000000" font-family="sans-serif" font-size="7.0556px" stroke-width=".1">
                    <tspan x="140" y="10">Bar</tspan>
                </text>
                <text fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                    <tspan x="19.5" y="26">VIP</tspan>
                </text>
                <text fill="#000000" font-family="sans-serif" font-size="6.0556px" stroke-width=".1">
                    <tspan x="19.5" y="89">VIP</tspan>
                </text>
            </g>
        </svg>
    </div>
</div>
