<div class="container py-2">
    <h5 class="text-uppercase font-weight-light text-center m-5">News</h5>
    <div class="column mx-5">
        <a *ngIf="role=='admin'" href="/article/new" class="add-article">Add article</a>
        <div *ngIf="!articles" class="text-center">Any article not founded.</div>
        <div class="py-3 mx-5" *ngFor="let article of articles">
            <div class="card mx-5">
                <img class="card-img-top" [src]="article.photoFilePath" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{article.title}}</h5>
                    <p class="card-text">{{article.content}}</p>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-between">
                        <small class="text-muted">Last updated {{article.publishingDate | date:'dd-MM-yyyy HH:mm'}}</small>
                        <div *ngIf="role=='admin'">
                            <button (click)="edit(article.id)" class="btn btn-sm btn-success">Edit</button>
                            <button (click)="delete(article.id)" class="btn btn-sm btn-danger ml-2">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
